* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
  background: hsl(233, 47%, 7%);
}

.container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  height: 700px;
  margin: auto;
}

.card__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
  background: hsl(244, 38%, 16%);
  border-radius: 5px;
  overflow: hidden;
}

/* ----- ----- */
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 50px;
}

.card__title {
  font-size: 2.33rem;
  font-weight: 700;
}

.card__title--color {
  color: hsl(277, 64%, 61%);
}

.card__description {
  margin-top: 25px;
  color: hsla(0, 0%, 100%, 0.6);
  text-align: justify;
  line-height: 22px;
}

.statistics {
  display: flex;
}

.stats {
  margin-right: 35px;
  text-transform: uppercase;
  font-weight: 700;
}

.stats__quantity {
  font-size: 1.33rem;
}

.stats__name {
  margin-top: 5px;
  font-size: 0.81rem;
  color: hsla(0, 0%, 100%, 0.6);
}

/* ----- ----- */
.card__image {
  position: relative;
  width: 50%;
}

.card__image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(277, 64%, 61%, 0.4);
}

.card__image img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}
.attribution {
  font-size: 11px;
  text-align: center;
  font-family: "Lexend Deca";
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  .card__wrap {
    flex-direction: column-reverse;
    height: 90%;
  }

  /* ----- ----- */
  .card__content {
    height: 60%;
    width: 100%;
    text-align: center;
    padding: 20px 30px;
  }

  .card__title {
    font-size: 1.66rem;
  }

  .card__description {
    margin-top: 10px;
    font-size: 0.8rem;
    text-align: inherit;
  }
git 

  .stats {
    margin: 10px 0;
  }

  .stats__quantity {
    font-size: 15px;
  }

  .stats__name {
    font-size: 10px;
  }

  /* ----- ----- */
  .card__image {
    height: 40%;
    width: 100%;
  }
}
